@font-face {
    font-family: "Montserrat-Bold";
    src: url("Montserrat-Bold.eot?") format("eot"), url("Montserrat-Bold.woff") format("woff"), url("Montserrat-Bold.ttf") format("truetype"), url("Montserrat-Bold.svg#Montserrat-Bold") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat-Regular";
    src: url("Montserrat-Regular.eot?") format("eot"),
        url("Montserrat-Regular.woff") format("woff"),
        url("Montserrat-Regular.ttf") format("truetype"),
        url("Montserrat-Regular.svg#Montserrat-Regular") format("svg");
    font-weight: normal;
    font-style: normal;
}

:root {
    --menta: #E9F0EF;
    --branco: #ffffff;
    --verdeAgua: #2fd6cb;
    --roxoAzulado: #4a67df;
    --azulEscuro: #26333d;
}

body {
    background-color: var(--menta);
    font-family: "Montserrat-Bold", sans-serif;
}

header {
    padding: 10px;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.senai-image-cadastro{
    width: 11vw;
    height: 6vh;
    margin: 0px;
    padding: 12px;
    margin-left: auto;
}

.logo-cadastro {
    width: 250px;
    transition: transform 0.2s ease;
}

.logo-cadastro:hover {
    transform: scale(1.03); 
}

.conteudo_principal {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.bloco_titulo {
    padding: 10px;
    text-align: center;
}

.titulo_principal {
    font-family: "Montserrat-Bold", sans-serif;
    font-weight: bold;
    color: black;
    text-align: center;
}

.texto_informativo {
    font-size: 15px;
    color: #ff0000;
    line-height: 20px;
    text-align: center;
    width: 460px;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    transform: scale(1.15); 
    transform-origin: top center; 
}

.formulario_cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: scale(1.45);
    transform-origin: top center; 
}

.linha_cadastro {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 18px;
}

.linha_cadastro #perfil{
    margin-bottom: 0px;
}

.rotulo {
    width: 180px;
    text-align: right;
    font-family: "Montserrat-Bold", sans-serif;
    font-weight: bold; 
}

.rotulo_duas_linhas {
    width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;  
    line-height: 16px;
    font-family: "Montserrat-Bold", sans-serif;
    font-weight: bold;
}

.linha_baixa {
    position: relative;
    display: flex;
    align-items: flex-start;  
    gap: 2px;
}

.obrigatorio {
    position: relative;
    top: -2px;   
    font-size: 17px; 
    color:#ff0000;
}

.info-cadastro input,
.entrada_selecao {
    width: 120%;
    padding: 12px;
    border: 1px solid hsl(0, 4%, 89%);   
    border-radius: 25px;               
    background: var(--branco);
    font-size: 0.95rem;                
    font-family: "Montserrat-Regular", sans-serif;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.05); 
    outline: none;
    transition: border-color 0.3s ease;
}

.info-cadastro input {
    height: 10px; 
}

.entrada_selecao {
    width: 112%;
    padding: 6.5px 12px;   
    border-radius: 25px;
    font-size: 0.95rem;
    font-family: "Montserrat-Regular", sans-serif;         
    cursor: pointer;       
    appearance: auto;      
}


.info-cadastro input:focus,
.entrada_selecao:focus {
    border-color: var(--roxoAzulado);
}

.checkbox-label {
    font-size: 14px;
    color: var(--azulEscuro);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cadastrarButton {
    margin-top: 13px;
    margin-bottom: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6vw;
    height: 6vh;
    background-color: var(--verdeAgua);
    color: var(--branco);
    font-family: "Montserrat-Bold", sans-serif;
    font-weight: bold;
    border: none;
    transition: transform 0.2s ease, background-color 0.3s;
    font-size: 0.9rem;
    transform: scale(0.77); 
    transform-origin: center;
    
}

.cadastrar {
    background: var(--verdeAgua);
    color: var(--branco);
    padding: 12px 40px;
    border-radius: 9px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    transition: 0.2s;
    font-family: "Montserrat-Bold", sans-serif;
    font-weight: bold; 
}

.cadastrar:hover {
    transform: scale(1.05);
    background-color: var(--roxoAzulado);
    box-shadow: 0 6px 20px rgba(74, 103, 223, 0.35);
}

.checkbox-container {
    transform: scale(0.80);
    transform-origin: center;
}

.campo-senha {
    position: relative;
    width: 127%; 
    display: flex;
    align-items: center;
}

.campo-senha input {
    width: 100%;
    padding-right: 45px; 
}

.icone-senha {
    position: absolute;
    right: 12px;
    font-size: 22px;
    cursor: pointer;
    color: #8f8e8e;
    user-select: none;
    transition: 0.2s ease;
}

.icone-senha:hover {
    color: #000;
}
