*{
    margin: 0;
    padding: 0;
}

:root {
    --menta: #E9F0EF;
    --branco: #ffffff;
    --verdeAgua: #2fd6cb;
    --roxoAzulado: #4a67df;
    --azulEscuro: #26333d;
    --cinza:#e6e6e6;
}

@font-face {
    font-family: "Montserrat-Bold";
    src: url("Montserrat-Bold.eot?") format("eot"), url("Montserrat-Bold.woff") format("woff"), url("Montserrat-Bold.ttf") format("truetype"), url("Montserrat-Bold.svg#Montserrat-Bold") format("svg");
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: var(--menta);
    opacity: 0;
    animation: fadeIn 0.8s ease forwards;
    font-family: "Montserrat-Regular", sans-serif;
    padding-top: 120px;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

html,
body {
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* fica acima dos outros elementos */
    background-color: var(--menta); /* MUITO importante */
    width: 100%;
    margin: 0px;
    padding: 2px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 22px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.10);
    backdrop-filter: blur(6px);
}


.main-header .logo-image {
    width: 15vw;
    margin: 5px;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
}

.main-header .senai-image{
    width: 9vw;
    height: 5vh;
    margin: 10px;
    padding: 12px;
    margin-left: auto;
}

.main-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    background-color: var(--branco); /* mantenha */
    transition: box-shadow 0.3s ease;
    border-radius: 19px;
}

.main-header.scrolled {
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

.busca input[type="text"]{
    width: 67vw;
    padding: 7px;
    font-size: 1.1rem;
    border-radius: 25px;
    border: 1px solid var(--cinza);
    margin: 13px 0;
    margin-right: 0;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.05);
    transition: box-shadow 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 95px;
    background-color: var(--cinza);
    outline: none;
    transition: border-color 0.3s ease;
}

.busca input:focus {
    box-shadow: 0px 4px 12px rgba(0,0,0,0.15);
    transition: border-color 0.3s ease;
}

.busca {
    width: 63vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    height: 9px;
    transition: border-color 0.3s ease;
}

.busca label{
    width: 47vw;
    display: flex;
    justify-content: center;
    transition: border-color 0.3s ease;
}

.buscarLivro {
    position: relative;
    width: 47vw; 
    transition: border-color 0.3s ease;
}

.buscarLivro input {
    width: 100%;
    padding: 7px 40px 7px 15px;
    font-size: 1.1rem;
    border-radius: 25px;
    border: 1px solid var(--branco);
    box-shadow: 0px 4px 10px rgba(0,0,0,0.05);
    transition: border-color 0.3s ease;
    outline: none;
}

.buscarLivro input:focus{
    border-color: var(--roxoAzulado);
}

.buscarLivro .lupa {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 22px;
    pointer-events: none;
    opacity: 0.4;
    margin-top: 40px;
}

#destaques{
    width: 57vw;
    display: flex;
    justify-content: flex-start;
    gap: 58px;
    margin-top: 40px;
    flex-wrap: wrap;
    margin: 0 auto;
}  

.h2_degrade {
    font-size: 1.6rem; /* ajuste se quiser */
    font-weight: bold;
    background: linear-gradient(90deg, var(--roxoAzulado), var(--verdeAgua));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.livro_1 {
    background: var(--branco);
    width: 5vw;          /* altura e largura */
    height: 18vh;         /* dos livros */
    border-radius: 12px;
    box-shadow: 0px 6px 20px rgba(0,0,0,0.07);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    color: var(--azulEscuro);
    font-family: "Montserrat-Regular", sans-serif;
    margin: 20px auto;  
    transition: transform 0.2s ease;   
}

.livro_1:hover{
    transform: scale(1.03); 
}

.livro_2 {
    background: var(--branco);
    width: 5vw;         
    height: 18vh;       
    border-radius: 12px;
    box-shadow: 0px 6px 20px rgba(0,0,0,0.07);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    color: var(--azulEscuro);
    font-family: "Montserrat-Regular", sans-serif;
    margin: 20px auto;     
    transition: transform 0.2s ease;
}

.livro_2:hover{
    transform: scale(1.03); 
}

.livro_3 {
    background: var(--branco);
    width: 5vw;         
    height: 18vh;       
    border-radius: 12px;
    box-shadow: 0px 6px 20px rgba(0,0,0,0.07);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    color: var(--azulEscuro);
    font-family: "Montserrat-Regular", sans-serif;
    margin: 20px auto;     
    transition: transform 0.2s ease;
}

.livro_3:hover{
    transform: scale(1.03); 
}

.livro_4 {
    background: var(--branco);
    width: 5vw;         
    height: 18vh;       
    border-radius: 12px;
    box-shadow: 0px 6px 20px rgba(0,0,0,0.07);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    color: var(--azulEscuro);
    font-family: "Montserrat-Regular", sans-serif;
    margin: 20px auto;     
    transition: transform 0.2s ease;
}

.livro_4:hover{
    transform: scale(1.03); 
}

.livro_5 {
    background: var(--branco);
    width: 5vw;         
    height: 18vh;       
    border-radius: 12px;
    box-shadow: 0px 6px 20px rgba(0,0,0,0.07);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    color: var(--azulEscuro);
    font-family: "Montserrat-Regular", sans-serif;
    margin: 20px auto;     
    transition: transform 0.2s ease;
}

.livro_5:hover{
    transform: scale(1.03); 
}

.livro_6 {
    background: var(--branco);
    width: 5vw;         
    height: 18vh;       
    border-radius: 12px;
    box-shadow: 0px 6px 20px rgba(0,0,0,0.07);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    color: var(--azulEscuro);
    font-family: "Montserrat-Regular", sans-serif;
    margin: 20px auto;     
    transition: transform 0.2s ease;
}

.livro_6:hover{
    transform: scale(1.03); 
}

.livro_7 {
    background: var(--branco);
    width: 5vw;         
    height: 18vh;       
    border-radius: 12px;
    box-shadow: 0px 6px 20px rgba(0,0,0,0.07);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    color: var(--azulEscuro);
    font-family: "Montserrat-Regular", sans-serif;
    margin: 20px auto;     
    transition: transform 0.2s ease;
}

.livro_7:hover{
    transform: scale(1.03); 
}

.livro_8 {
    background: var(--branco);
    width: 5vw;         
    height: 18vh;       
    border-radius: 12px;
    box-shadow: 0px 6px 20px rgba(0,0,0,0.07);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    color: var(--azulEscuro);
    font-family: "Montserrat-Regular", sans-serif;
    margin: 20px auto;     
    transition: transform 0.2s ease;
}

.livro_8:hover{
    transform: scale(1.03); 
}

.livro_9 {
    background: var(--branco);
    width: 5vw;         
    height: 18vh;       
    border-radius: 12px;
    box-shadow: 0px 6px 20px rgba(0,0,0,0.07);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    color: var(--azulEscuro);
    font-family: "Montserrat-Regular", sans-serif;
    margin: 20px auto;     
    transition: transform 0.2s ease;
}

.livro_9:hover{
    transform: scale(1.03); 
}

.livro_10 {
    background: var(--branco);
    width: 5vw;         
    height: 18vh;       
    border-radius: 12px;
    box-shadow: 0px 6px 20px rgba(0,0,0,0.07);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    color: var(--azulEscuro);
    font-family: "Montserrat-Regular", sans-serif;
    margin: 20px auto;     
    transition: transform 0.2s ease;
}

.livro_10:hover{
    transform: scale(1.03); 
}

.livro_11 {
    background: var(--branco);
    width: 5vw;         
    height: 18vh;       
    border-radius: 12px;
    box-shadow: 0px 6px 20px rgba(0,0,0,0.07);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    color: var(--azulEscuro);
    font-family: "Montserrat-Regular", sans-serif;
    margin: 20px auto;     
    transition: transform 0.2s ease;
}

.livro_11:hover{
    transform: scale(1.03); 
}

.livro_12 {
    background: var(--branco);
    width: 5vw;         
    height: 18vh;       
    border-radius: 12px;
    box-shadow: 0px 6px 20px rgba(0,0,0,0.07);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    color: var(--azulEscuro);
    font-family: "Montserrat-Regular", sans-serif;
    margin: 20px auto;     
    transition: transform 0.2s ease;
}

.livro_12:hover{
    transform: scale(1.03); 
}

.livro_13 {
    background: var(--branco);
    width: 5vw;         
    height: 18vh;       
    border-radius: 12px;
    box-shadow: 0px 6px 20px rgba(0,0,0,0.07);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    color: var(--azulEscuro);
    font-family: "Montserrat-Regular", sans-serif;
    margin: 20px auto;     
    transition: transform 0.2s ease;
}

.livro_13:hover{
    transform: scale(1.03); 
}

.livro_14 {
    background: var(--branco);
    width: 5vw;         
    height: 18vh;       
    border-radius: 12px;
    box-shadow: 0px 6px 20px rgba(0,0,0,0.07);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    color: var(--azulEscuro);
    font-family: "Montserrat-Regular", sans-serif;
    margin: 20px auto;     
    transition: transform 0.2s ease;
}

.livro_14:hover{
    transform: scale(1.03); 
}

.livro_15 {
    background: var(--branco);
    width: 5vw;         
    height: 18vh;       
    border-radius: 12px;
    box-shadow: 0px 6px 20px rgba(0,0,0,0.07);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    color: var(--azulEscuro);
    font-family: "Montserrat-Regular", sans-serif;
    margin: 20px auto;     
    transition: transform 0.2s ease;
}

.livro_15:hover{
    transform: scale(1.03); 
}

#livros{
    width: 57vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 58px;
    margin-top: 40px;
    flex-wrap: wrap;
    margin: 0 auto;
}

.left-icons {
    position: fixed;
    bottom: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    gap: 33px;
    z-index: 999;
    bottom: 10px;
    left: 20px;
}

.left-icons .addUser-icon{
    width: 36px;
}

.right-icons {
    position: fixed;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 33px;
    /* z-index: 999; */
    bottom: 10px;
}