/* E9F0EF0 - menta */
/* FFFFFF - branco */
/* 2FD6CB - verde água */
/* 4A67DF - roxo azulado */
/* 26333D - azul escuro */

@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");

@font-face {
    font-family: "Montserrat-Bold";
    src: url("Montserrat-Bold.eot?") format("eot"), url("Montserrat-Bold.woff") format("woff"), url("Montserrat-Bold.ttf") format("truetype"), url("Montserrat-Bold.svg#Montserrat-Bold") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat-Regular";
    src: url("Montserrat-Regular.eot?") format("eot"),
        url("Montserrat-Regular.woff") format("woff"),
        url("Montserrat-Regular.ttf") format("truetype"),
        url("Montserrat-Regular.svg#Montserrat-Regular") format("svg");
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

:root {
    --menta: #E9F0EF;
    --branco: #ffffff;
    --verdeAgua: #2fd6cb;
    --roxoAzulado: #4a67df;
    --azulEscuro: #26333d;
}

body {
    background-color: var(--menta);
    opacity: 0;
    animation: fadeIn 0.8s ease forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.senai-image {
    position: fixed;
    bottom: 10px;
    justify-content: center;
    width: 100px;
    height: auto;
    object-fit: cover;
    z-index: -1;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    margin: 7px 0 12px 0;
}

.face-icon {
    margin: 0;
    width: 30px;
    height: 30px;
}

.link-icon {
    margin: 0;
    width: 35px;
    height: 35px;
}

.google-icon {
    margin: 0;
    width: 36px;
    height: 25px;
}

.main-container {
    width: 70vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    border-right: 1px solid rgba(0, 0, 0, 0.05);
}

header {
    width: 125%;
    margin: 10px;
    padding: 10px;
}

.main-container .content {
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 0.8rem;
    color: #000000;
    text-align: center;
    margin-left: 25px;
}

.main-container .content h2 {
    font-family: 'Montserrat-Regular', sans-serif;
    font-weight: normal;
    font-size: 0.7rem;
    color: #000000;
    text-align: center;
    margin: 2px 0 98px 0;
    letter-spacing: 0.01em;
}

.senha {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-left: 97px;
    color: black;
}

#entrar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.2px;
    border-radius: 9px;
    width: 170px;
    height: 40px;
    background-color: var(--verdeAgua);
    color: var(--branco);
    
}

.entrar {
  position: relative;
  padding: 12px 26px;
  /* border: none;
  background: #4a90e2;      
  color: white;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  overflow: hidden;
  transition: background 0.3s ease;*/
} 

/* 
.entrar::before {
  content: "";
  position: absolute;
  top: 0;
  left: -120%;
  width: 120%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(255, 255, 255, 0.6),
    transparent
  );
  transform: skewX(-20deg);
  transition: 0.6s ease;
}

.entrar:hover::before {
  left: 120%;
} */ */


.login input[type="text"],
.login input[type="password"] {
    width: 90%;
    padding: 7px;
    font-size: 1.1rem;
    border-radius: 25px;
    border: 1px solid var(--branco);
    margin: 13px 0;
    margin-right: 63px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.05);
    transition: box-shadow 0.2s ease;
}

.login input:focus {
    box-shadow: 0px 4px 12px rgba(0,0,0,0.15);
}

.login div {
    margin-bottom: 1px;
}

.login {
    width: 63vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    height: 1px;
}

html,
body {
    height: 100vh;
    overflow: hidden;
}

#container {
    background-color: black;
    height: 40vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao {
    width: 110px;
    height: 80px;
    margin-top: 50px;
    font-family: 'Montserrat-Regular', sans-serif;
    font-weight: normal;
    font-size: 0.9rem;
    color: #000000;
    text-align: flex-end;
    letter-spacing: 0.01em;

}

.carrossel {
    width: 28vw;       
    height: 100vh;
    overflow: hidden;
    border-radius: 0px;
    margin: 0px;
    box-shadow: 0px 20px 20px rgba(0,0,0,0.2);
    object-fit: cover;
    z-index: -1;
    position: fixed;
    top: 0;
    right: 0;
}

.carrossel-inner {
    position: relative;
    width: 100%;
    height: 100%;
}

.carrossel-inner img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out; /* duração do degradê */
    animation: fadeSlide 0.8s ease;
}

.carrossel-inner img.active {
    opacity: 1;
}

#entrar button {
    transition: transform 0.2s ease, background-color 0.3s;
}

#entrar button:hover {
    transform: scale(1.05);
    background-color: var(--roxoAzulado);
}

/* .logo-image {
    transition: transform 0.2s ease;
}

.logo-image:hover {
    transform: scale(1.03);  ----> Colocar na tela home
} */
