@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@font-face {
    font-family: "Montserrat-Bold";
    src: url("Montserrat-Bold.eot?") format("eot"),
        url("Montserrat-Bold.woff") format("woff"),
        url("Montserrat-Bold.ttf") format("truetype"),
        url("Montserrat-Bold.svg#Montserrat-Bold") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat-Regular";
    src: url("Montserrat-Regular.eot?") format("eot"),
        url("Montserrat-Regular.woff") format("woff"),
        url("Montserrat-Regular.ttf") format("truetype"),
        url("Montserrat-Regular.svg#Montserrat-Regular") format("svg");
    font-weight: normal;
    font-style: normal;
}

:root{
      --menta: #E9F0EF;
      --branco:#ffffff;
      --azulEscuro:#26333D;
      --roxoAzulado: #4a67df;
      --verdeAgua:#2FD6CB;
      --cinza:#6b7780;
 }    

body {
    font-family: "Montserrat-Regular", sans-serif;
    font-size: 1rem;
    background-image: url("../images/fotoBibliotecaInicio.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    animation: fadeIn 0.8s ease forwards;
    position: relative;
    min-height: 100vh;
    overflow: hidden;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #00a9af, rgba(42, 64, 160, 0.3), rgba(175, 234, 236, 0));
    z-index: -1;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

/* HEADER */
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 60px;
}

/* CARD CENTRAL */
.intro-container {
    left: 50px;
    margin-top: 120px;
}

.card {
    background: #ffffff;
    width: 520px;
    padding: 35px 40px;
    border-radius: 25px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    text-align: center;
}

/* TÍTULO */
.card-header h1 {
    font-weight: 700;
    font-size: 3.0rem;
    margin-bottom: 10px;
    color: var(--branco);
}

.subtitle {
    color: #ffffff;
    font-size: 1.6rem;
    margin-bottom: 25px;
}
 
/* FEATURES */
.features p {
    font-size: 1.5rem;
    margin: 10px 0;
    color: #ffffff;
}

.cta {
    display: block;
    width: 260px;
    padding: 16px 30px;
    background-color: #19c2b0;
    color: white;
    font-weight: 700;
    font-size: 1.2rem;
    border-radius: 30px;
    text-decoration: none;
    transition: .3s;
    border: none;
    text-align: center;
    margin: 12px auto;
}

.cta:hover {
    background-color: #149e92;
    transform: translateY(-2px);
}

.card-footer {
    position: relative;
    z-index: 10;
}

.intro-container {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

@keyframes girar {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.star {
    display: inline-block;
    margin-right: 8px;
    animation: girar 2.5s linear infinite;
}


.main-header{
    position: relative;
    z-index: 1;
}

.footer-container {
    position: relative;
    z-index: 1;
}

.botoes {
    position: absolute;
    top: 240px;     /* ajuste vertical para alinhar com a estante */
    left: 60px;     /* ajuste horizontal para alinhar com o círculo vermelho */
    display: flex;
    flex-direction: column;
    gap: 13px;
    z-index: 2;
    margin-top: 365px;
}

.botoes .cta {
    width: 220px;
    padding: 14px 28px;
    font-size: 1.1rem;
    border-radius: 30px;
    background-color: #19c2b0;
    color: white;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    transition: 0.3s;
}

.botoes .cta:hover {
    background-color: #149e92;
    transform: translateY(-2px);
}


footer {
    margin-top: 275px;
    height: 100px;
    background-color: var(--azulEscuro);
    padding:16px 22px;
    display:flex;
    justify-content: space-between;
    align-items:center;
    z-index: 2;
}

footer.footer-rodape {
    margin-top: 80px;
    background-color: var(--azulEscuro);
    padding: 18px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 -4px 18px rgba(0,0,0,0.15);
}

.footer-copy {
    font-size: 0.9rem;
    color: #cefcf9;
}

.footer-buttons {
    display: flex;
    align-items: center;
    gap: 18px;
}

.footer-buttons button {
    border: none;
    color: var(--azulEscuro);
    cursor: pointer;
    border-radius: 10px;
    background-color: #cefcf9;
    width: 120px;
    height: 38px;
    font-size: 0.9rem;
    font-weight: 600;
    transition: all .25s ease;
}

.footer-buttons button:hover {
    background-color: var(--verdeAgua);
    transform: translateY(-2px);
    box-shadow: 0px 3px 10px rgba(0,0,0,0.25);
}