*{
    margin: 0;
    padding: 0;
}

:root {
    --menta: #E9F0EF;
    --branco: #ffffff;
    --verdeAgua: #2fd6cb;
    --roxoAzulado: #4a67df;
    --azulEscuro: #26333d;
}

body {
    background-color: var(--menta);
    opacity: 0;
    animation: fadeIn 0.8s ease forwards;
    font-family: "Montserrat-Regular", sans-serif;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

html,
body {
    height: 100vh;
    overflow: hidden;
}
